@import "tailwindcss";

:root {
  --background: #070707;
  --foreground: #F1F1F1;
  --primary-1: #F16B0D;
  --primary-2: #E61216;
  --white-200: #E8E8E8;
  --white-300: #CACACA;
  --font-display: var(--font-display);
  --font-body: var(--font-body);
}

@theme inline {
  --background: var(--background);
  --foreground: var(--foreground);
  --font-head: var(--font-display);
  --font-body: var(--font-body);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-size: 1.375rem;
  line-height: 1.2;
}
