
@import "tailwindcss";

:root {
  --background: #070707;
  --foreground: #F1F1F1;
  --primary-1: #F16B0D;
  --primary-2: #E61216;
  --white-200: #E8E8E8;
  --white-300: #CACACA;
  --font-display: var(--font-display);
  --font-body: var(--font-body);
}

@theme inline {
  --font-head: var(--font-display);
  --font-body: var(--font-body);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-white-200: var(--white-200);
  --color-white-300: var(--white-300);
}

body {
  /* transition: background 1s ease !important;
  background: linear-gradient(to right, #F16B0D, #E61216); */
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-size: 1.15vw;
  line-height: 1.2;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.content-p{
 font-size: 1.145vw;
 line-height: 1.4;
 letter-spacing:0.01vw;
}
[data-para-anim],
.para-anim,
.lineWord {
  font-kerning: none;
}

[data-para-anim] .line,
.para-anim .line,
.lineWord .line,
.heroParaAnim .line {
  overflow: hidden;
}
.unify-title,
.para-anim,
.lineWord {
  font-kerning: none;
}

.unify-title .line,
.para-anim .line,
.lineWord .line,
.heroParaAnim .line {
  overflow: hidden;
}

.turbo-para-anim,
.para-anim,
.lineWord {
  font-kerning: none;
}

.turbo-para-anim .line,
.para-anim .line,
.lineWord .line,
.heroParaAnim .line {
  overflow: hidden;
}


.headingAnim .line .line-internal {
  mask-size: 500% 100%;
  mask-image:linear-gradient(150deg,#fff 33.3%,rgba(255,255,255,.0) 66.6%);
}
.turbo-headingAnim .line .line-internal  {
  mask-size: 500% 100%;
  mask-image:linear-gradient(150deg,#fff 33.3%,rgba(255,255,255,.0) 66.6%);
}

.heroHeadAnim .line{
  mask-size: 500% 100%;
  mask-image:linear-gradient(150deg,#fff 33.3%,rgba(255,255,255,.0) 66.6%);
}



/* Button Text Shadow */
.buttonTextShadow {
  text-shadow: 0 1.5em currentColor;
}

.buttonSplit .single-letter {
  transition: transform 0.5s cubic-bezier(0.625, 0.05, 0, 1);
}

.buttonSplit:hover .single-letter {
  transform: translate(0px, -1.5em);
}